certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
flask-swagger==0.2.14
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==8.1.2
ptext-joris-schellekens==1.8.5
python-barcode==0.13.1
PyYAML==5.4.1
qrcode==6.1
requests==2.25.1
six==1.15.0
urllib3==1.26.4
Werkzeug==1.0.1
gunicorn==20.0.4
redis==3.5.3